* {
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 800px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100px;
  background-color: pink;
}

footer {
  width: 100%;
  height: 80px;
  background-color: lightgray;
  clear: both;
}

main {
  flex: 1;
  background-color: #fff0f5;
  padding: 0;
}

h2 {
  text-align: center;
  padding: 30px 0;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
}

aside {
  width: 200px;
  background-color: lavender;
}

aside a {
  display: block;
  margin: 10px;
  text-decoration: none;
  color: blue;
}

aside a:hover {
  color: red;
}

form input[type="submit"] {
  display: block;
  margin-left: auto;
  margin-right: 0;
}
