/* 全体のレイアウト */
.container {
  display; flex;
  width: 800px;
  margin: auto;
}

/* ヘッダーとフッター */
header {
  width: 100%;
  height: 100px;
  background-color: pink;
}

footer {
  width: 100%;
  height: 80px;
  background-color: lightgray;
}

/* サイドメニュー */
aside {
  width: 200px;
  background-color: lavender;
  padding: 0px;
  float: left;
}

/* メインフォーム */
main {
  flex; 1;
  background-color: #fff0f5;
  padding: 10px;
  float: right;
}

/* 表のスタイル */
table {
  margin: 0 auto;
  padding: 0;
  border-collapse: collapse;
}

/* 送信ボタンのスタイル */
form {
  text-align: right; /* ボタンを右寄せ */
  margin: 0;
  padding: 0;
}

form input[type="submit"] {
  display: inline-block; /* 行内扱いで表に近づける */
  margin-top: 0;         /* 表との隙間をゼロに */
}
