* {
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 800px;
  margin: auto;
}

header {
  width: 100%;
  height: 100px;
  background-color: pink;
}

footer {
  width: 100%;
  height: 80px;
  background-color: lightgray;
  clear: both;
}

main {
  hight:500px
  width: 600px;
  background-color: #fff0f5;
  padding: 10px;
  float: right;
}

h2 {
  text-align: center;
  padding: 30px 0;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

aside {
  height:500px
  width: 200px;
  background-color: lavender;
  padding: 10px;
  float: left;
}

aside a {
  display: block;
  margin: 10px;
  text-decoration: none;
  color: blue;
}

aside a:hover {
  color: red;
}

form {
  text-align: right; /* フォーム内の要素を右寄せ */
}

form input[type="submit"] {
  display: inline-block; /* 行内扱いにして右寄せが効くようにする */
  margin-top: 0;         /* 表との間の余白をゼロに */
}
