/* ヘッダー */
h2 {
  background-color: pink;
  text-align: center;
  padding: 10px
  margin-top: 0;
}

/* サイドバー */
aside {
  display: block;
  margin:10px 0;
  text-decoration: none;
  color:blue;
}

aside a:hover {
  color: red;
}

/* メイン */
main {
  width: 600px;
  height: 300px;
  background-color: #fff0f5;
  float: left;
}

/* フッター */
footer {
  width: 100%;
  height: 80px;
  background-color: lightgray;
  clear: both;
}

/* テーブル中央配置 */
table {
  margin: auto;
}

/* 送信ボタン右寄せ */
form div {
  text-align: right;
}

