.container {
  width: 800px;
  margin: 0 auto;           /* 横並びにする（asideとmain） */
}

header {
  width: 100%;
  height: 100px;
  background-color: pink; /* 背景をピンクに */
}

footer {
  width: 100%;
  height: 80px;
  background-color: lightgray;
  clear: both;
}

main {
  width: 600px;
  background-color: #fff0f5;
  padding: 10px;
  float: left;
}

h2 {
  text-align: center;      /* タイトルを中央寄せ */
  padding: 30px 0;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
}

aside {
  width: 200px;
  background-color: lavender;
  padding: 10px;
  float: right;
}

aside a {
  display: block;          /* リンクを縦に並べる */
  margin: 10px 0;
  text-decoration: none;
  color: blue;
}

aside a:hover {
  color: red;              /* ホバー時に赤くなる */
}

form div {
  text-align: right;
  margin-top: 10px;
}
