.wrapper {
  max-width: 800px;
  margin:0 auto;
  padding: 0 20px;
  
.body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 全体を画面いっぱいに */
}

.header, footer {
  background: pink;
  padding: 10px;
  text-align: center;
}

.container {
  display: flex; /* 横並びにする */
}

.sidebar {
  width: 200px; /* サイドメニューの幅 */
  background: lavender;
}

.content {
  flex: 1; /* 残りの幅を全部使う */
  background: white;
}
